# AutoDeploy Server Environment Configuration
PORT=4000
DOMAIN_BASE=akhzafachrozy.my.id
DEPLOY_API_KEY=RAHASIA123

# Cloudflare Tunnel & DNS API Credentials
# Masukkan token Cloudflare Anda di file .env (jangan commit ke GitHub)
CF_API_TOKEN=
CF_ZONE_ID=712ada9fce4f123c176028ff2b2fc60c
CF_ACCOUNT=036e4ee85ad3043de7bbefa1ce4436a7
CF_TUNNEL_ID=ecf06af5-bfae-4ab8-b462-976513204516

# Database Default Credentials
AUTODEPLOY_DB_USER=deploysiitk
AUTODEPLOY_DB_PASS=deploysiitk2026
AUTODEPLOY_PG_USER=deploysiitk
AUTODEPLOY_PG_PASS=deploysiitk2026
